.UserAvatar{
  .Avatar {
    img {
      display: block;
      height: 10rem;
      width: 10rem;
      margin-left: auto;
      margin-right: auto;
      border-radius: 50%;
    }
  }

  h3 {
    padding: 0;
    margin: 0;
    text-align: center;
  }

}