.AddPost{
  width: 100%;
  display: flex;
  input{
    width: 80%;
    font-size: 1rem;
    margin: 1rem 0rem 1rem 1rem;
    transition: 0.5s;
    border: 0.1rem black solid;
    &:focus,:hover{
      border: #2e97ff 0.1rem solid;
    }
    &.Bad{
      border: 0.1rem red solid;
    }
  }
  .File{
    font-size: 1rem;
    height: 1rem;
    margin: auto 0.5rem;
    transition: 0.5s;
    &:hover{
      color: #564a4a;
    }
    input{
      display: none;
    }
  }

  button{
    font-size: 1rem;
    background-color: white;
    border: none;
    transition: 0.5s;
    &:hover{
      color: #564a4a;
    }
  }
}