html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

body{
  background-color: white;
}

a{
  text-decoration: none;
  color: black;
}


svg{
  cursor: pointer;
}

.center-container{
  margin: 20vh 20vw 0px;
  background-color: #2e97ff;
}

#__next{
  min-height: 100vh;
  min-width: 100vw;
}

.center{
  padding: 2rem 0;
  background-color: white;
  width: 50%;
  border-left: 0.4rem solid #2e97ff;
  border-right: 0.4rem solid #2e97ff;
  margin: 0 auto;
  min-width: 50%;
  min-height: 80vh;
}