.Home{
  margin: 20vh 20vw;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #2e97ff;
  h1{
    text-align: center;
    color: white;
    font-size: 2rem;
  }
  p{
    text-align: center;
    font-size: 1.5rem;
    color: white;
    a{
      text-decoration: underline;
    }
  }
}