.Login{
  background-color: #2e97ff;
  margin: 2rem auto;
  width: 600px;
  border-radius: 1rem;
  padding: 2rem;
  form{
    margin: auto;
    input{
      font-size: 2rem;
    }
  }
  h1{
    color: white;
    text-align: center;
    font-size: 1.5rem;
  }

  .buttons{
    display: flex;
    justify-content: center;
    button{
      font-size: 1.1rem;
    }
  }
}