.PostCard{
  margin: 1rem 5rem;
  .ImageDiv{
    display: block;
    width: 100%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    img{
      border-radius: 5%;
    }
  }
 p{
   font-size: 1rem;
   .UserName{
      color: black;
      font-weight: 1000;
      margin: 0 0.5rem;
   }
   .UserText{
   }
 }
}