.AuthorizedSection{
  display: flex;
  p{
    color: white;
  }
  button{
    background-color: #2e97ff;
    font-size: 1.5rem;
    color: white;
    border: none;
    margin: auto auto auto 1rem;
    transition: 0.5s;
    &:hover{
      color: lightgray;
    }
  }
  a{
    font-size: 1.5rem;
    color: white;
    margin: auto auto auto 1rem;
  }
}