.AddPost{
  width: 100%;
  display: flex;
  input{
    width: 80%;
    font-size: 1rem;
    margin: 1rem 0rem 1rem 1rem;

    &.Bad{
      border: 0.1rem red solid;
    }
  }
  .File{
    font-size: 1rem;
    height: 1rem;
    margin: auto;
    input{
      display: none;
    }
  }

  button{
    font-size: 1rem;
    background-color: white;
    border: none;
  }
}