.PostCardButtons{
    margin: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    div{
        span{
            margin: 0.2rem auto auto;
            text-align: center;
            display: block;
        }
        button{
            border: none;
            background-color: inherit;
            svg{
                color: #2e97ff;
                font-size: 1.5rem;
            }
        }

    }
}